{
    "presets": [
        "latest",
        "react",
        "stage-0"
    ],
    "plugins": [
      "syntax-trailing-function-commas",
      "transform-async-to-generator",
      "transform-es2015-destructuring",
      "transform-es2015-parameters",
      "transform-es2015-duplicate-keys",
      "transform-es2015-modules-commonjs",
      "transform-exponentiation-operator",
      "transform-runtime"
    ],
    "env": {
        "development": {
            "presets": [
                "react-hmre"
            ]
        },
        "production": {
            "plugins": [
                "transform-react-constant-elements",
                "transform-react-remove-prop-types",
                "transform-react-inline-elements"
            ]
        }
    }
}
